@charset "utf-8";

*,
*::after,
*::before {
  box-sizing: border-box;
}
html{
  margin: 0;
  padding: 0;
  color: #24232f;
  font-family: "Merge One", sans-serif;
}
body{
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: linear-gradient(#eef1ff, #d2daff, #aac4ff, #b1b2ff);
  cursor: url(../img/cursor.png), auto;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: url(../img/cursor_pointer.png), auto;
}

/* HEADER */
header {
  width: 100%;
  height: 100vh;
  position: relative;
}
#navi {
  width: 100%;
  max-width: 100vw;
  height: 80px;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  box-sizing: border-box;
  z-index: 99;
}
#navi h1 {
  height: 90%;
  margin: auto 0;
}
#navi h1 img {
  height: 90%;
}
#navi:hover {
  background: rgba(255, 255, 255, 0.8);
}
#navi li:hover {
  cursor: url(../img/cursor_pointer.png), auto;
}

.menu {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu li {
  font-size: 1.7em;
  font-weight: bold;
}

/* 메뉴 hover 시 밑줄 animation */
.underline {
  position: relative;
  padding: 4px 0;
  color: #24232f;
}
.underline:hover {
  color: #24232f;
}
.underline:before,
.underline > div:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: #24232f;
}
.underline:before {
  left: 0;
}
.underline:after {
  right: 0;
  background: #24232f;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.menu li:hover .underline:before {
  background: #24232f;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.menu li:hover .underline:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}

.typing-txt {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-family: "Kaushan Script", sans-serif;
  font-size: 4em;
  visibility: hidden;
}
.typing {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-family: "Kaushan Script", sans-serif;
  font-size: 4em;
}
.typing ul li {
  display: block;
}
.typing ul li.on {
  display: inline-block;
  animation: cursor 1.2s infinite;
  border-right: 1px solid #000;
}
@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

.scroll {
  width: 40px;
  position: absolute;
  left: 50%;
  bottom: 1%;
  transform: translateX(-50%);
  text-align: center;
  opacity: 0.9;
  animation: scroll 1.2s infinite;
}
@keyframes scroll {
  50% {
    bottom: 2%;
  }
}

/* PROJECTS */
#projects {
  width: 100vw;
  margin: 100px 0;
  padding-top: 100px;
  text-align: center;
  perspective: 1200px;
  overflow: hidden;
}
.title {
  width: fit-content;
  margin: 0 auto 100px;
  animation: none !important;
}
.title p {
  font-size: 2.5em;
  font-weight: bold;
  position: relative;
  z-index: 1;
}
.projects_under {
  height: 15px;
  transform: translateY(-20px);
  background: #fd3286;
  opacity: 0.8;
}

#content{
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.cont {
  width: 700px;
  height: 50vh;
  margin: 100px auto 150px;
  position: relative;
  cursor: url(../img/cursor_pointer.png), auto;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 0.7s;
}

.cont.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}
.cont.is-flipped .img {
  animation: none;
}
.cont.is-flipped .sticker {
  display: none;
}
.abs {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 25px;
  box-shadow: 4px 4px 7px 5px rgba(0, 0, 0, 0.1);
}
.img {
  background: #e6eaff;
  animation: updown 1s infinite alternate;
}
.shine {
  height: 100%;
  justify-content: space-around;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.shine:before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skew(-25deg);
}
.shine:hover:before {
  animation: shine 0.75s;
}
@keyframes shine {
  100% {
    left: 125%;
  }
}
.img h1 {
  margin-bottom: 30px;
}
.elec {
  width: 50%;
  height: 70%;
}
.sticker {
  position: absolute;
  left: -40px;
  top: -40px;
  display: block;
  transition: transform 0.5s;
  z-index: 999;
}

.txt {
  padding: 30px 0;
  justify-content: space-between;
  word-break: keep-all;
  background: #e6eaff;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}
.txt h3 {
  margin-top: 15px;
  font-size: 1.5em;
}
.sub {
  font-size: 0.9em;
}
.tool span {
  display: block;
}

.btn button {
  padding: 15px 20px;
  margin: 30px 20px 0;
  border-radius: 25px;
  font-size: 0.9em;
  font-weight: bold;
  cursor: url(../img/cursor_pointer.png), auto;
  transition: 0.2s;
}
.btn button:hover {
  box-shadow: 4px 4px 4px 2px rgba(126, 126, 126, 0.25);
}

.kiehls_btn button {
  border: 0.5px solid #ccc;
  background: #d9d9d9;
}
.nest_btn button {
  border: 0.5px solid #857b7338;
  background: #e2d1c3;
}
.nintendo_btn button {
  border: 1px solid #be909496;
  background: #f8bdc2;
}
.jakorea_btn button {
  border: 1px solid #9da9ac77;
  background: #def0f3;
}

/* STUDIES */
#studies{
  width: 80%;
  margin: 200px auto 100px;;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.study-title p {
  font-size: 2.5em;
  font-weight: bold;
  position: relative;
  z-index: 1;
}
.studies_under {
  height: 15px;
  transform: translateY(-20px);
  background: #fd3286;
  opacity: 0.8;
}
.study{
  width: 80%;
  display: flex;
  justify-content: space-around;
}
.study li{
  text-align: center;
  animation: updown 1s infinite alternate;
}
.study li p{
  white-space: nowrap;
}
.study li span{
  display: block;
}
.study img{width: 100px;}

/* ABOUT */
#about {
  width: 100vw;
  margin: 100px 0;
  padding-top: 100px;
}
.about_under {
  height: 15px;
  transform: translateY(-20px);
  background: #fff500;
  opacity: 0.8;
}

.subtitle {
  width: fit-content;
  margin-bottom: 30px;
}
.subtitle p {
  font-size: 2em;
  font-weight: bold;
  position: relative;
  z-index: 1;
}
.sub_under {
  height: 10px;
  transform: translateY(-15px);
  background: #fff500;
  opacity: 0.8;
}

.me {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.me img {
  width: 35%;
  border-radius: 25px;
}

.mo_txt{
  width: 60%;
  text-align: center;
  font-size: 2em;
  letter-spacing: 1px;
}

.mo_txt span{
  display: inline-block;
  margin-bottom: 50px;
}

.top {
  width: 80%;
  height: 100vh;
  margin: 50px auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.education {
  width: 55%;
}
.edu li {
  margin: 40px 0;
  font-size: 1.1em;
  font-weight: bold;
  word-break: keep-all;
}
.edu li:hover {
  cursor: url(../img/cursor_pointer.png), auto;
  text-decoration: underline;
}

.contact {
  width: 100%;
  margin: 100px auto 0;
}
.contact ul li {
  margin: 40px 0;
  vertical-align: middle;
  font-size: 1.1em;
  font-weight: bold;
  word-break: keep-all;
}
.contact ul li i {
  width: 30px;
  text-align: center;
  vertical-align: middle;
  font-size: 1.5em;
}
.contact ul li a {
  margin-left: 20px;
}
.contact ul li a:hover {
  text-decoration: underline;
}

/* SKILLS */
#skills {
  width: 40%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  animation: updown 1s infinite alternate;
  position: relative;
  cursor: url(../img/cursor_pointer.png), auto;
  z-index: 5;
}

.toggle p {
  font-size: 2em;
  font-weight: bold;
  z-index: 1;
}

.skills_under {
  width: 77px;
  height: 15px;
  position: absolute;
  transform: translateY(10px);
  background: #fff500;
  opacity: 0.8;
}

@keyframes updown {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}

.skills {
  position: absolute;
  width: 100%;
}

.skills li {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 50%;
  top: 50%;
  margin-left: -30px;
  transition: all 0.5s;
  transition-delay: calc(0.1s * var(--i));
  opacity: 0;
}

.skills li a {
  display: block;
  width: 100%;
  height: 100%;
}

.skills li img {
  width: 100%;
  height: 100%;
}

.skills.active li {
  opacity: 1;
  transform: rotate(calc(360deg / 9 * var(--i))) translate(200px) rotate(calc(360deg / -9 * var(--i)));
}

/* FOOTER */
footer {
  width: 100vw;
  margin: 200px 0 50px;
  text-align: center;
  color: #2d2d2d;
  font-size: 0.9em;
}
footer p {
  margin-top: 10px;
}

/* Mouse Cursor */
.cursormove {
  position: fixed;
  left: 30px;
  top: 20px;
  z-index: 2;
  display: block;
}
.cursormove img {
  width: 40px;
}

/* GO-TOP btn */
#go-top {    
	width: 50px; 
	height: 50px;   
	position: fixed; 
	bottom: 48px; 
	right: 48px;
	line-height:50px;
	text-align:center;
	color:#fff;
  border-radius: 10px;
	background-color:#3d3d3dbb;
	transition:opacity .5s;
	opacity: 0;
}

#go-top.on{
	opacity: 1;
	/* visibility: visible; */
  transition: opacity .5s;
}

@media screen and (max-width: 640px){ 
  /* 기본제어 - mo 전용*/
  body{-webkit-overflow-scrolling: touch; /* iOS 스크롤 부드럽게 */}
  .cursormove{display: none;}
  .typing{font-size: 3.5em;}
  
  /* header */
  #navi{display: block; height: auto; padding: 2% 0; text-align: center; background: rgba(255, 255, 255, 0.8);}
  #navi h1{display: none;}
  .menu{width: 100%;}

  /* projects */
  .title{margin: 0 auto 5%;}
  .cont{width: 100%; height: 45vh; margin: 20% 0;}
  .sticker{width: 35%; left: -5%;}
  .abs, .txt{padding: 3% 0; justify-content: space-around;}
  .shine{display: flex; flex-direction: column; justify-content: center;}
  .elec{height: 60%;}
  .txt h3{margin-top: 3%; font-size: 1.2em;}
  .sub{font-size: 0.7em;}

  .btn button{padding: 3% 5%; margin: 2%;}

  /* studies */
  #studies{margin: 0 auto;}
  .study{width: 100%; margin-top: 5%; flex-wrap: wrap;}
  .study li{margin-bottom: 10%; animation: none;}

  /* about */
  #about{margin: 0 auto; padding-bottom: 70vw;}
  .top{display: block;}
  .me{width: 95%; margin: 0 auto;}
  .me img{width: 45%; border-radius: 10px;}
  .mo_txt{width: 55%; font-size: 1.2em; letter-spacing: 0;}
  .mo_txt span{display: inline-block; margin-bottom: 10%;}

  .education{width: 100%; margin-top: 10%;}
  .subtitle p{font-size: 1.5em;}

  .edu li{margin: 5% 0; font-size: 0.9em;}
  .edu li .date{display: block;}

  #skills{width: 100%; padding: 50vw 0;}
  .toggle{width: 100%;}
  .toggle p{font-size: 1.5em;}
  .skills_under{width: 15vw; max-width: 77px;}
  .skills li{margin-top: -30px;}
  .skills.active li{opacity: 1; transform: rotate(calc(360deg / 9 * var(--i))) translate(150px) rotate(calc(360deg / -9 * var(--i)));}

  .contact{margin: 10% auto 0;}
  .contact ul li{margin: 5% 0; font-size: 0.9em;}

  footer{margin: 0 auto 50px; font-size: 0.7em;}
}